*
{
    font-family:'IBM Plex Sans', sans-serif ;
}
#header
{
    /* height: auto;
    width: 100%; */
    overflow: hidden;
    background-image:url('mainimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
#grad1
{
    background-color: rgb(0, 217, 255);
    height: 14px;
    width: 60px;
}
#p-u
{
    color: white;
    font-weight: bold;
    font-size: 103px;
    margin-left: -7px; 
    font-family:  'Kanit', sans-serif;    
}
#div-u
{
    line-height: 6rem;
    margin-top: 2rem;
}
#p-ts
{
    
    color: white;
    font-size: 34px;
    line-height: 91%;
    font-weight: 100;
}
#head-col1
{
    height: 16rem;
}
#ul1
{
    color: white;
    
    float: right;
    padding-right: 2rem;
}
.li1
{
    list-style-type: square;
    font-size: 33px;
    direction: rtl;
    text-align: right;
    font-weight: 600;
}

#head-col2
{
    height: 32rem; 
}
#head-col3
{
    height: 15rem;
    width: 100vw;
    background-color: rgba(255, 255, 0, 0.524);;
    color: white;
    padding-top: 2rem;
    padding-left: 3rem;
}

#head-f-p
{
    font-size: 88px;
    line-height: 97%;
    font-weight: 400;
}
#head-f-st
{
    font-size: 98px;
    font-weight: 700;
}
#head-col4
{
    background-color: #44454900;
    height: 15rem;
}
#ul2
{
    padding-top: 3rem;
    color: white;
    font-family: Eastman Grotesque Extrabold;
    /* float: right; */
    padding-right: 2rem;
    list-style-type:none;
}
.li2
{
    
    font-size: 16px;
    direction: ltr;
    text-align: right;
}
.st
{
    font-weight: 600;
}
#head-col5
{
    background-color: #FFFFFF;
    height: 15rem;
    width: 100vw;
    padding-left: 4%;
}
#fir-p1
{
    font-size: 87px;
    color: rgba(255, 0, 0, 0.726);
    font-weight: 700;
}
#fir-p2
{
    font-size: 48px;
    font-weight: 600;
    color: #6d7271;
    margin-top: -4%;
}
#fir-p3
{
    font-size: 40px;
    margin-top: -3%;
    color: #6d7271;
}
#main
{
    overflow: hidden;
}
#head-col6
{
     background-color: #39BBDB;
}
#main-col1
{
    background-color: #ecf3f0;
    height: 44rem;
    width: 100vw;
    padding-left: 4%;
    padding-top: 2rem;
    border-bottom: 7px solid rgba(255, 0, 0, 0.726);
}
#logo
{
    height: 5rem;
    margin-top: 4rem;
    margin-left: 4rem;
}
#main-p1
{
    color: #c35664;
    font-weight: 600;
    font-size: 21px;
}
#main-p2
{
    font-size: 24px;
}
#main-p3
{
    font-size: 35px;
    margin-top: -11px;
    color: #6d7271;
}
#main-p2-st
{
    font-size: 51px;
    color: #6d7271;
    font-weight: 800;
}
#sup
{
    top: -1.5em;
    color: #5a5c5c;
}
#main-col2
{

}
#second-p1
{
    font-size: 29px;
    padding-left: 4rem;
    padding-top: 7rem;
    line-height: 133%;
    color:#6d7271;
    font-weight: 600;
}
#second
{
    color: #39BBDB;
    font-size: 49px;
    font-weight: 900;
}
#tlogo
{
    height: 7rem;
    margin-left: 12rem;
    margin-top: 1rem;
}
#second-p2
{
    text-align: end;
    font-size: 29px;
    line-height: 106%;
    font-weight: 800;
    padding-top: 6%;
    color:#6d7271;
    padding-right: 1rem;
}
#second-p3
{
    font-size: 20px;
    text-align: -webkit-right;
    color: #b1aaaa;
}